<div class="modal_head">
    <i class="icon_close" onclick="common.modal_hide()"></i>
</div>
<div class="modal_body">
    <div class="input_group_modal">
        <div>First name</div>
        <input id="first_name" required type="text" value="{$user.first_name}">
    </div>
    <div class="input_group_modal">
        <div>Last name</div>
        <input id="last_name" required type="text" value="{$user.last_name}">
    </div>
    <div class="input_group_modal">
        <div>Phone</div>
        <input id="phone" required type="tel" value="{$user.phone}">
    </div>
    <div class="input_group_modal">
        <div>Email</div>
        <input id="email" required type="email" value="{$user.email}">
    </div>
    <div class="input_group_modal">
        <div>Plot</div>
        <input id="plot_id" type="text" value="{$user.plot_id}">
    </div>
    <div class="modal_controls">
        <div>
            <div class="btn_modal" onclick="common.user_edit_update({$user.id});">Save</div>
        </div>
        <div>
            <div class="btn_modal light" onclick="common.modal_hide();">Cancel</div>
        </div>
    </div>
    <div
      class="fade"
      id="login_note"
      style="margin-top: 24px; padding-bottom: 0;"
    >
    </div>
</div>
